.wrapper__zuzak {
  position: relative;
  width: 1440px;
  height: 648px;
  .text__base {
    color: black;
    font-size: 34px;
    letter-spacing: -0.5px;
    font-weight: 500;
    font-family: 'Roboto', serif;
  }
  .text__lat {
    position: absolute;
    top: 297px;
    left: 348px;
    width: 248px;
  }
  .blind__lat {
    position: absolute;
    top: 297px;
    left: 348px;
    width: 248px;
    height: 34px;
    background-color: rgb(204, 204, 204);
  }
}
